[defaults]
roles_path = ./roles

[ssh_connection]
# suppress "[WARNING]: Module invocation had junk after the JSON data:"
# might be Fedora 43 specific
# source: https://github.com/ansible/ansible/issues/86122#issuecomment-3677990618
pipelining = True
